<% if partner_signed_in? %>
	<div><%= button_to t('.create_road_map'), new_partners_road_map_path, :method => :get %></div>
	<div><%= button_to t('.my_road_maps'), partners_road_maps_path, :method => :get %></div>
	<div><%= button_to t('.create_tour'), new_partners_tour_path, :method => :get %></div>
	<div><%= button_to t('.my_tours'), partners_tours_path, :method => :get %></div>
	<div><%= button_to t('.profile'), partners_partner_informations_path, :method => :get %></div>
	<div><%= button_to t('.sign_out'), destroy_partner_session_path, :method => :delete %></div>
<% else %>
	<div><%= button_to t('.sign_in'),  new_partner_session_path, :method => :get %></div>
	<div><%= button_to t('.sign_up'),  new_partner_registration_path, :method => :get %></div>
<% end %>


<input type="checkbox" id="check">
<label far="check">
  <%= fa_icon "bars", id: "btn" %>
  <%= fa_icon "times", id: "cancel" %>
</label>

<div class="sidebar">
	<header>
		<%= t('.painel_partner') %>
	</header>
  
	<a href="#" class="active">
    <%= fa_icon "home", text: "Painel" %>
	</a>

	<a href="#">
    <%= fa_icon "globe", text: t('.create_road_map') %>
	</a>

	<a href="#">
		<%= fa_icon "map", text: t('.my_road_maps') %>
	</a>

	<a href="#">
		<%= fa_icon "calendar", text: t('.create_tour') %>
	</a>

	<a href="#">
		<%= fa_icon "play-circle", text: t('.my_tours') %>
	</a>

	<a href="#">
    <%= fa_icon "user", text: t('.profile') %>
	</a>

	<a href="#">
    <%= fa_icon "sign-out", text: t('.sign_out') %>
	</a>
</div>
