<h1><%= t('.new_customer') %></h1>

<%= simple_form_for new_customer_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { class: 'special' } %>
    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :language %>
    <%= f.input :account_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Criar" %>
  </div>
<% end %>