<h1> <%= @tour.name %> </h1>

<div> <%= @tour.live_date.strftime("%d/%m/%Y - %H:%M") %> </div>
<div> Status: <%= Tour.human_attribute_name("status.#{@tour.status.to_s}") %> </div>
<div> Categoria: <%= @tour.road_map.title %> </div>


<% if @tour.status.eql? "processing" %>
	<%= get_video_iframe(@tour.video_link, 1190, 669) %>
  <%= button_to t('.accomplished_live'), accomplished_partners_tour_path(@tour), method: :post %>
<% end %>

<%= link_to t('buttons.back'), partners_dashboard_path %>
