<div class="container-fluid show_card">
  <div class="cards">
    <div class="card">
      <div class="contents ">
        <div class="container-sm">
          <h1 class="text-center"><%= t('.update_road_map') %></h1>
          <%= simple_form_for [:partners, @road_map] do |f| %>
            <%= f.error_notification %>

            <%= f.input :title,
                        autofocus: true,
                        input_html: { autocomplete: "title" }%>

            <%= f.input :description,  as: :rich_text_area, input_html: { class: "mb-3 pb-5" } %>

            <%= f.label :presentation_photos %>
            <%= f.input :presentation_photos, as: :file, label: false, :input_html => { :multiple => true } %>

            <%= f.label :presentation_video %>
            <%= f.input :presentation_video, as: :file, label: false %>

            <%= f.input :category_id, :collection => Category.all, :value_method => :id, :include_blank => false %>

            <div class="mt-5 pulse">
              <%= f.button :submit, t('.update_road_map'), class: "slide text-uppercase btn-lg col-12" %>
            </div>

            <div class="form-actions mt-5 float-end">
              <%= link_to t('buttons.back'), partners_dashboard_path, class:"btn btn-primary" %>
            </div>  
          <% end %>
        </div>
      </div>
    </div>
  </div>
