<div class='container'>
  <h1><%= t('.road_maps')%></h1>

  <div class="input-group">
    <div class="form-outline">
      <input id="search-input" type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button id="search-button" type="button" class="btn btn-primary">
      <
      <i class="fas fa-search"></i>
    </button>
  </div>

  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= RoadMap.human_attribute_name('title') %></th>
        <th scope="col"><%= Category.model_name.human %></th>
        <th scope="col"><%= RoadMap.human_attribute_name('created_at') %></th>
        <th scope="col"><%= RoadMap.human_attribute_name('updated_at') %></th>
      </tr>
    </thead>
    <tbody>
      <% @road_maps.each do |road_map| %>
        <tr>
          <td></td>
          <td> <%= link_to road_map.title, partners_road_map_path(road_map) %> </td>
          <td> <%= road_map.category.name %> </td>
          <td> <%= road_map.created_at.strftime("%d/%m/%Y") %> </td>
          <td> <%= road_map.updated_at.strftime("%d/%m/%Y") %> </td>

          <td>
            <%= link_to [:partners, road_map], data: { method: :delete, confirm: 'Você tem certeza?' } do %>
              <%= image_tag('icon_trash.svg')%>
            <% end %>
          </td>
          
          <td>
            <%= link_to edit_partners_road_map_path(road_map) do %>
              <%= image_tag 'icon_edit.svg' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions mt-5 float-end">
    <%= link_to t('buttons.back'), partners_dashboard_path, class:"btn btn-primary" %>
  </div>
</div>
