<div class="container-fluid show_card">
  <div class="cards">
    <div class="card">
      <div class="contents ">
        <div class="container-sm">
          <h1 class="text-center"><%= t('.create_road_map') %></h1>
          <%= simple_form_for [:partners, @road_map] do |f| %>
            <%= f.error_notification %>

            <%= f.input :title,
                        autofocus: true,
                        input_html: { autocomplete: "title" }%>

            <%= f.file_field :apresentation %>
            <%= f.file_field :video_apresentation %>
            <%= f.label :description %>
            <%= f.text_field :description  %>
            <%= f.input :category_id, collection: Category.all %>

            <div class="mt-5 pulse">
              <%= f.button :submit, t('.subscript_road_map'), class: "slide text-uppercase btn-lg col-12" %>
            </div>

            <div class="form-actions mt-5 float-end">
              <%= link_to t('buttons.back'), partners_dashboard_path, class:"btn btn-primary" %>
            </div>  
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>