<!DOCTYPE html>
<html>
  <head>
    <title>TouristakiWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', media: 'all'%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.0.0/trix.js" integrity="sha512-DYqCX8kO/IP/uf6iT0+LnI6ft5aDdONwabmbgVxjR94pwCefuJwYwd+NAsKFpH3hk8wP2L3jRn9g61t3r2N9VA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.0.0/trix-core.js" integrity="sha512-PDyVCdDM65XDOy151tytXqNgfddKCe/x3HwDTmkIRyEXLHdbHaugnKqWnjIn/3SbwoBnroIBIpFttA91MhTFGA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.0.0/trix.css" integrity="sha512-An9xk8CstwPHW2Vzjj0RA6Gdbi3RUkEMqocdnEtq2C/iKJLKV0JGaJTMgyn2HeolVe0zDtDhXP7OMaTSffCkqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>

  <body>
    <%= render 'shared/partner_sidebar' %>
    
    <div id='main'>
      <%= yield %>
    </div>
    
  </body>
</html>
