<!DOCTYPE html>
<html>
  <head>
    <title>TouristakiWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', media: 'all'%>

  </head>

  <body>
    <%= render 'shared/partner_sidebar' %>
    
    <div id='main'>
      <%= yield %>
    </div>
    
  </body>
</html>
